<AbsoluteLayout>
    <ScrollView (scroll)="onScroll($event)" #scrollView left="0" top="0" width="100%" height="100%">
            <StackLayout>
                <StackLayout class="searchBox" #searchBox>
                    <Image src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png" stretch="aspectFill"></Image>
                    <TextField hint="Enter Search Text..." class="searchbar" id="searchbar"></TextField>
                </StackLayout>
                <GridLayout tkExampleTitle tkToggleNavButton>
                    <RadListView [items]="items">
                        <ng-template tkListItemTemplate let-item="item">
                            <StackLayout class="labelsStackLayout">
                                <Image [src]="item.src" stretch="aspectFill"></Image>
                                <Label [text]="item.name" textWrap="true" class="name"></Label>
                                <Label [text]="item.role" class="role"></Label>
                            </StackLayout>
                        </ng-template>
                        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" itemHeight="200" spanCount="2"></ListViewGridLayout>
                    </RadListView>
                </GridLayout>
            </StackLayout>
    </ScrollView>

    <StackLayout class="searchActionBar" #searchAction left="0" top="0" width="100%">
        <!-- <Label text="Application" class="searchText" *ngIf="!show"></Label> -->
        <TextField hint="Enter Search Text..." class="searchAction" *ngIf="show"></TextField>
    </StackLayout>
</AbsoluteLayout>
    