.searchActionBar {
    height: 150px;
}
.searchActionBar .searchText {
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.searchActionBar .searchAction {
    background-color: white;
    height: 150px;
    width: 100%;
}
.searchBox {
    margin: 200px 0px 100px 0px;
    padding: 0px 50px 0px 50px;
}
.searchBox .searchbar {
    background-color: white;
    height: 150px;
    margin: 200px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
.labelsStackLayout {
    background-color: #3d5afe;
    height: 700px;
    margin: 0px 2.5px 5px 2.5px;
    text-align: center;
}
.labelsStackLayout Image {
    height: 550px;
    width: 100%;
}
.labelsStackLayout .name {
    color: white;
    font-size: 20px;
}
.labelsStackLayout .role {
    color: #bcbcbc;
}